<div class="posts">
  {{#each @model as |post|}}
    <Post @post={{post}} @link={{true}} />
  {{/each}}
</div>

{{#if this.session.isLogedIn}}
  <LinkTo @route="admin.posts">admin</LinkTo>
{{else}}
  <LinkTo @route="login">login</LinkTo>
{{/if}}