<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    {{#each @model as |post|}}
      <tr>
        <td><LinkTo @route="admin.posts.edit" @model={{post.id}}>{{post.title}}</LinkTo></td>
        <td>{{format-datetime post.created_at}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="mt-3">
  <LinkTo @route="admin.posts.new">New</LinkTo>
</div>